<h2>Drivers Management</h2>
  @if(loading()) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  } @else {
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Certified</th>
      </tr>
    </thead>
    <tbody>
      @for(driver of drivers(); track driver.id) {
        <tr>
          <td>{{ driver.id }}</td>
          <td>{{ driver.firstName }} {{ driver.lastName }}</td>
          <td>{{ driver.birthDate | date:'shortDate' }}</td>
          <td>{{ driver.certified ? 'Certified' : 'Not Certified' }}</td>
        </tr>
      }
    </tbody>
  </table>
}